<!doctype html>
<html lang="en-au">
    <head>
        <title>Gantt Chart</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
        <!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" /> -->
        <!-- <link rel="stylesheet" href="http://taitems.github.com/UX-Lab/core/css/prettify.css" /> -->
		<style type="text/css">
			table th:first-child {
				width: 150px;
			}
			.filter {
			text-align: left;
			}
		</style>
		<style type="text/css">
			body {
				font-family: Helvetica, Arial, sans-serif;
				font-size: 13px;
				padding: 0 0 50px 0;
			}
			.contain {
				width: 800px;
				margin: 0 auto;
			}
			 h1 {
				margin: 40px 0 20px 0;
			}
			h2 {
				font-size: 1.5em;
				padding-bottom: 3px;
				border-bottom: 1px solid #DDD;
				margin-top: 50px;
				margin-bottom: 25px;
			}
			table th:first-child {
				width: 150px;
			}
		</style>
    </head>
    <body>
		<h2>
			Gantt Chart
			</h2>
			<div class="container">
				<div class="gantt"></div>
			</div>
	<div class="contain">
		<div class="filter">
			<h2>Filter's</h2>
			<form action="" method="post">
				<div class="" id="tasks">
					<input class="form-check-input" type="checkbox" name="task" value="t1" id="t1">
						<label class="form-check-label" for="defaultCheck1">
						T1
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="task" value="t2" id="t2">
						<label class="form-check-label" for="defaultCheck1">
						T2
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="task" value="t3" id="t3">
						<label class="form-check-label" for="defaultCheck1">
						T3
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="task" value="t4" id="t4">
						<label class="form-check-label" for="defaultCheck1">
						T4
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="task" value="t5" id="t5">
						<label class="form-check-label" for="defaultCheck1">
						T5
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="task" value="t6" id="t6">
						<label class="form-check-label" for="defaultCheck1">
						T6
						</label>
						&nbsp;
				</div>
						<br><br>
				<div id="subtasks">
					<input class="form-check-input" type="checkbox" name="subtask" value="st1" id="st1">
						<label class="form-check-label" for="defaultCheck1">
						ST1
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st2" id="st2">
						<label class="form-check-label" for="defaultCheck1">
						  ST2
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st3" id="st3">
						<label class="form-check-label" for="defaultCheck1">
						  ST3
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st4" id="st4">
						<label class="form-check-label" for="defaultCheck1">   
						ST4
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st5" id="st5">
						<label class="form-check-label" for="defaultCheck1">
						  ST5
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st6" id="st6">
						<label class="form-check-label" for="defaultCheck1">
						  ST6
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st7" id="st7">
						<label class="form-check-label" for="defaultCheck1">
							ST7
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st8" id="st8">
						<label class="form-check-label" for="defaultCheck1">
						  ST8
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st9" id="st9">
						<label class="form-check-label" for="defaultCheck1">
						  ST9
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st10" id="st10">
						<label class="form-check-label" for="defaultCheck1">
					   ST10
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st11" id="st11">
						<label class="form-check-label" for="defaultCheck1">
						  ST11  
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st12" id="st12">
						<label class="form-check-label" for="defaultCheck1">
						  ST12
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st13" id="st13">
						<label class="form-check-label" for="defaultCheck1">
						  ST13
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st14" id="st14">
						<label class="form-check-label" for="defaultCheck1">
						  ST14
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st15" id="st15">
						<label class="form-check-label" for="defaultCheck1">
						  ST15
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st16" id="st16">
						<label class="form-check-label" for="defaultCheck1">
						  ST16
						</label> 
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st17" id="st17">
						<label class="form-check-label" for="defaultCheck1">
						  ST17
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st18" id="st18">
						<label class="form-check-label" for="defaultCheck1">
						  ST18
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st19" id="st19">
						<label class="form-check-label" for="defaultCheck1">
						  ST19
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st20" id="st20">
						<label class="form-check-label" for="defaultCheck1">
						  ST20
						</label>
						&nbsp;
						<input class="form-check-input" type="checkbox" name="subtask" value="st21" id="st21">
						<label class="form-check-label" for="defaultCheck1">
						  ST21
						</label>
						&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st22" id="st22">
				<label class="form-check-label" for="defaultCheck1">
				  ST22
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st23" id="st23">
				<label class="form-check-label" for="defaultCheck1">
				  ST23
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st24" id="st24">
				<label class="form-check-label" for="defaultCheck1">
				  ST24
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st25" id="st25">
				<label class="form-check-label" for="defaultCheck1">
				  ST25
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st26" id="st26">
				<label class="form-check-label" for="defaultCheck1">
				  ST26
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st27" id="st27">
				<label class="form-check-label" for="defaultCheck1">
				  ST27
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st29" id="st29">
				<label class="form-check-label" for="defaultCheck1">
				  ST28
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st30" id="st30">
				<label class="form-check-label" for="defaultCheck1">
				  ST30
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st31" id="st31">
				<label class="form-check-label" for="defaultCheck1">
				  ST31
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="st32" id="st32">
				<label class="form-check-label" for="defaultCheck1">
				  ST32
				</label>
				&nbsp;
				<input class="form-check-input" type="checkbox" name="subtask" value="none" id="none">
				<label class="form-check-label" for="defaultCheck1">
				  None
				</label>
				</div>
			  </div>
			  <br>
			  <button type="button" class="btn btn-secondary btn-sm" id="checkAll">Select all</button>
			<button type="button" class="btn btn-secondary btn-sm" id="clearAll">Clear all</button>	
			&nbsp;&nbsp;
			<label for="nda">NDA/ALL:</label>
			<select id="nda" name="nda">
			<option value="">------</option>	
			<option value="all">ALL</option>
			<option value="nda">NDA</option>
			</select>
		<br><br>  
		<label for="exampleFormControlSelect2">Release</label>
		<select name="release" multiple="multiple" class="form-control" id="release">
			<option name="21.1" selected>21.1</option>
			<option name="21.2" selected>21.2</option>
			<option name="21.3" selected>21.3</option>
			<option name="21.3" selected>21.4</option>
			<option name="21.5" selected>21.6</option>
			<option name="21.5" selected>21.5</option>
		</select>
			<input class="form-check-input" type="checkbox" name="os" value="win" id="win">
				<label class="form-check-label" for="defaultCheck1">
				  Windows
				</label>
				
				<input class="form-check-input" type="checkbox" name="os" value="linux" id="linx">
				<label class="form-check-label" for="defaultCheck1">
				  Linux
				</label>
		<label for="exampleFormControlSelect2">States : </label>
		<select name="states" multiple class="form-control" id="states">
					<option name="Draft" selected>Draft</option>
					<option name="Submitted" selected>Submitted</option>
					<option name="Approved" selected>Approved</option>
					<option name="Sustaining" selected>Sustaining</option>
					<option name="Closed" selected>Closed</option>
				<option name="Rejected" selected>Rejected</option>
		</select>
		<button type="submit" id="subbutton" class="btn btn-primary">Submit</button>
			</form>

	</div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="{{ url_for('static', filename = 'js/jquery.fn.gantt.js') }}"></script>
    <script>
		$(function() {
			"use strict";
			$(".gantt").gantt({
				source: [
				{
					name: "T0",
					desc: "Coming from table1",
					values: [
					{% for item in graytb1%}	
					{
						from: "/Date({{ item[1]}})/",
						to: "/Date({{item[2]}})/",
						label: "{{ item[0][2] }}", 
						customClass: "{% if item[0][2] == 'item1'%}ganttBlue{%else%}ganttRed{%endif%}",
					},
					{% endfor %}
				]
				},
				{% for i in task %}
				{   
                    {% if i[3] == i[0][1] %}
                    name: "{{ i[3] }}",
                    {% else %}
                    name: "", 
                    {% endif %}
                    desc: "{{ i[0][2] }}",
					values: [{
						from: "/Date({{i[1]}})/",
						to: "/Date({{i[2]}})/",
						label: "{{ i[0][3] }}", 
						customClass: "{% if i[0][1] == 'T1' %}ganttOrange{%elif i[0][1] == 'T2' %}ganttRed{%elif i[0][1] == 'T3' %}ganttGreen{%elif i[0][1] == 'T4' %}ganttBlue{%elif i[0][1] == 'T5' %}ganttYellow{%elif i[0][1] == 'T6' %}ganttRed{% endif %}",
					}]
				},
				{% endfor %}
			],
				navigate: "scroll",
				scale: "weeks",
				maxScale: "months",
				minScale: "days",
				itemsPerPage: 10,
				onItemClick: function(data) {
					alert("Item clicked - show some details");
				},
				onAddClick: function(dt, rowId) {
					alert("Empty space clicked - add an item!");
				},
				onRender: function() {
					if (window.console && typeof console.log === "function") {
						console.log("chart rendered");
					}
				}
			});
			// $(".gantt").popover({
			// 	selector: ".bar",
			// 	title: "I'm a popover",
			// 	content: "And I'm the content of said popover.",
			// 	trigger: "hover"
			// });
			// prettyPrint();
		});
    </script>
	<script>
	// firts time when page load
	$(document).ready(function(){
	$('input:checkbox').prop('checked', true);
	$('#release').prop('checked', true);
	var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
	var checkval = []
	for (var checkbox of checkboxes) {
		// get all the checkbox values
		// console.log(checkbox.value + ' ');
		checkval.push(checkbox.value)
	}
});
$("#checkAll").click(function(){
	$('input:checkbox').prop('checked', true);
	if($('#oswin').is("checked")){
		$('#oswin').prop('checked', false);
	}
	// $('#oswin').prop('checked', false);
	// $('#oslinux').prop('checked', false);
});
$("#clearAll").click(function(){
		$('input:checkbox').prop('checked', false);
		$('#release :selected').each(function(i, sel){ 
		// alert( $(sel).val() ); 
	});
})


// getting all the task checkboxes id's
$('#subbutton').click(function(event){
	event.preventDefault()
	var tcheckedarr = [];
	var tuncheckdarr = [];
	$('#tasks input').each(function() {
		var taskId = $(this).attr('id')
		if  ($('#'+taskId).is(':checked')){
			tcheckedarr.push($(this).attr('id'));
		}
		else{
			tuncheckdarr.push($(this).attr('id'));
		}
	});
	var scheckedarr = [];
	var suncheckdarr = []; 
	$('#subtasks input').each(function() {
		var subtaskId = $(this).attr('id')
		if  ($('#'+subtaskId).is(':checked')){
			scheckedarr.push($(this).attr('id'));
		}
		else{
			suncheckdarr.push($(this).attr('id'));
		}
	});
	// initialize the form object
	var form = document.querySelector('form');
	var formData = new FormData(form);
	$.ajax({
		type: 'POST',
		url: "",
		processData: false, // important
		contentType: false, // important
		data: formData,
		dataType: 'html',
		success: function(data){
			$('body').html(data);
			$.each( tuncheckdarr, function( index, value ){
			$('#'+value).prop('checked', false);	
		});
		$.each( suncheckdarr, function( index, value ){
			$('#'+value).prop('checked', false);	
		});
		}
		});
		});	
</script>
</body>
</html>
